<%= render partial: '/partials/discover_movie_options' %><br>

<% if params[:search] %>
  <%= "Top 40 Movies" %>
<% else %>
  <%= "Top 40 Search Results" %>
<% end %>

<ul>
  <% @movies.each do |movie| %>
  <li> <%= movie[:title] %>, Vote Average: <%= movie[:vote_average] %> </li>
  <% end %>
</ul>
