<h1> <%= @movie.title %> </h1>

Vote Average: <%= @movie.vote_average %>
Runtime: <%= (@movie.runtime/60).round %> hours <%= @movie.runtime % 60 %> minutes
Genres:
<% @movie.genres.each do |genre| %>
<%= genre %>
<% end %>

Summary:
<%= @movie.overview %>

Cast:
<ul>
  <% @cast.each do |cast| %>
    <li><%= cast[:name] %> as <%= cast[:character] %></li>
  <% end %>
</ul>

Total Reviews: <%= @reviews.length %>
Reviews:
<% @reviews.each do |review| %>
  <%= review[:author] %>
  <%= review[:content] %>
<% end %>
